extends layout

block content
 h1= title
 form(id='AnimalForm', action="/resource/animal", method="POST")
    div.form-group
    div(class="row g-3 align-items-center")
      div(class="col-1")
         label.animalAttr(for='animal_type',class="col-form-label") Animal  count
      div(class="col-auto")
         input#animal_type(type='Number', name='animal_type',class="form-control")
    div.form-group
    div(class="row g-3 align-items-center")
      div(class="col-1")
         label.animalAttr(for='quantity', class="col-form-label") Animal location 
      div(class="col-auto")
         input#quantity(type='text', name='quantity',class="form-control")
    div.form-group
    div(class="row g-3 align-items-center")
      div(class="col-1")
         label.animalAttr(for='cost',class="col-form-label") Animal name
      div(class="col-auto")
         input#cost(type='text', name='cost',class="form-control")
    input(type="submit",class="btn btn-primary")
 script.
    document.forms['AnimalForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });